<p style="color: green"><%= notice %></p>

<div id="genres" style="text-align: center;">
  <div class="search-bar">
      <%= form_with(url: find_genre_genres_path, method: :get, class: "form-inline") do |form| %>
        <div class="input-group">
          <%= form.text_field :search, class: "form-control me-2", placeholder: "Search genre", aria: { label: "Search" } %>
          <%= form.submit 'Search', class: "btn btn-outline-primary search" %>
        </div>
      <% end %>
  </div>

  <div class="button-container">
    <%= link_to "New genre", new_genre_path, class: "button" %>
  </div>

  <% @genres.each do |genre| %>
    <div class="index-item">
      <span><b> Name </b>: <%= genre.name %> </span><br>
      <span><b>Description</b>: <%= genre.description %> </span><br>
      <div class="genre-list">
        <p><b>Sub Genres:</b>
          <% genre.sub_genres.each do |sub_genre| %>
            <%= link_to sub_genre.name, sub_genre, class: "link-text" %><%= "," unless sub_genre == genre.sub_genres.last %>
          <% end %>
        </p>
      </div>
      <p>
        <%= link_to "Show this genre", genre, class: "button" %>
      </p>
    </div>
  <% end %>
</div>
