<p style="color: green"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sub Genres</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @genre.name %></td>
        <td><%= @genre.description %></td>
        <td class="genre-list"><%= @genre.sub_genres.map(&:name).join(", ") %></td>
      </tr>
  </tbody>
</table>
<br>

<div style="text-align: center;">
  <%= link_to "Edit this genre", edit_genre_path(@genre), class: "button" %> |
  <%= link_to "Back to genres", genres_path, class: "button" %>

  <%=  button_to "Destroy this genre", @genre, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button" %>
</div>
