<p style="color: green"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Sub Genres</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @genre.name %></td>
        <td><%= @genre.description %></td>
        <td>
          <% @genre.sub_genres.each do |sub_genre| %>
            <%= link_to sub_genre.name, sub_genre, class: "link-text" %><%= "," unless sub_genre == @genre.sub_genres.last %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>
<br>

<div style="text-align: center;">
  <%= link_to "Edit this genre", edit_genre_path(@genre), class: "button" %> |
  <%= link_to "Back to genres", genres_path, class: "button" %>

  <%=  button_to "Destroy this genre", @genre, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button" %>
</div>
