<p style="color: green"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Genres</th>
      <th>Subgenre</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @artist.name %></td>
        <td><%= @artist.country %></td>
        <td>
          <% @artist.genres.each do |genre| %>
            <%= link_to genre.name, genre, class: "link-text" %><%= "," unless genre == @artist.genres.last %>
          <% end %>
        </td>
        <td>
          <% @artist.sub_genres.each do |sub_genre| %>
            <%= link_to sub_genre.name, sub_genre, class: "link-text" %><%= "," unless sub_genre == @artist.sub_genres.last %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>
<br>

<div style="text-align: center;">
  <%= link_to "Edit this artist", edit_artist_path(@artist), class: "button" %> |
  <%= link_to "Back to artists", artists_path, class: "button" %>

  <%= button_to "Destroy this artist", @artist, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button" %>
</div>
