<%= form_with(model: sub_genre) do |form| %>
  <% if sub_genre.errors.any? %>
    <div class="form-container">
      <h2 class="error-heading"><%= pluralize(sub_genre.errors.count, "error") %> prohibited this sub_genre from being saved:</h2>

      <ul class="error-list">
        <% sub_genre.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :genre_id, class: "form-label" %>
    <%= form.collection_select(:genre_id, @genre, :id, :name, {}, { class: "form-input" }) %>
  </div>

  <div>
    <%= form.submit class: "submit-button" %>
  </div>
<% end %>
