<p style="color: green"><%= notice %></p>

<div id="sub_genres" style="text-align: center;">
  <div class="search-bar">
    <%= form_with(url: find_sub_genre_sub_genres_path, method: :get, class: "form-inline") do |form| %>
      <div class="input-group">
        <%= form.text_field :search, class: "form-control me-2", placeholder: "Search profile", aria: { label: "Search" } %>
        <%= form.submit 'Search', class: "btn btn-outline-primary search" %>
      </div>
    <% end %>
  </div>

  <div class="button-container">
    <%= link_to "New sub genre", new_sub_genre_path, class: "button" %>
  </div>

  <% @sub_genres.each do |sub_genre| %>
    <div class="index-item">
      <span><b> Name </b>: <%= sub_genre.name %> </span><br>
      <span><b> Description</b>: <%= sub_genre.description %> </span><br>
      <span><b> Genre </b>: <%= link_to sub_genre.genre.name, sub_genre%> </span>
      <p>
        <%= link_to "Show this sub genre", sub_genre, class: "button" %>
      </p>
    </div>
  <% end %>
</div>
