<p style="color: green"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Genre</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @sub_genre.name %></td>
        <td><%= @sub_genre.description %></td>
        <td><%= link_to @sub_genre.genre.name, sub_genre_path(@sub_genre), class: "link-text" %></td>
      </tr>
  </tbody>
</table>
<br>

<div style="text-align: center;">
  <%= link_to "Edit this sub genre", edit_sub_genre_path(@sub_genre), class: "button" %> |
  <%= link_to "Back to sub genres", sub_genres_path, class: "button" %>

  <%= button_to "Destroy this sub genre", @sub_genre, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button" %>
</div>
